<div id="footer">
      <div id="link">
        <a href="//www.facebook.com/profile.php?id=100004096860602" target="_blank">
            <span class="icon icon-facebook2"></span>
        </a>
        <a href="//www.linkedin.com/in/minhyeong-jang-109b89116/" target="_blank">
            <span class="icon icon-linkedin"></span>
        </a>
        <a href="//github.com/minhyeong-jang" target="_blank">
            <span class="icon icon-github"></span>
        </a>
        <a href="{{ '/contact/' | prepend: site.baseurl}}">
            <span class="icon icon-mail4"></span>
        </a>
      </div>
  <div class="copyright">
      Copyright(c) Minhyeong Jang All Rights Reserved.
  </div>
</div>