<li>
  <a href="{{ site.baseurl }}{{ post.url }}">
    <div class="post-image"
      {% if post.image %}
        style="background-image:url({{ site.image_url }}{{ post.image }})"
      {% endif %}
      ></div>
    <div class="post-info">
      <div class="post-header">
        <p class="author-name">{{ post.author }}</p>
        <p class="post-date">{{ post.date | date: '%Y년 %m월 %d일' }}</p>
      </div>
      <h3 class="post-title">{{ post.title }}</h3>
      <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 150 }}</p>
    </div>
  </a>
</li>