<li>
  <a href="{{ post.url }}">
    <h3 class="post-title">{{ post.title }}</h3>
    <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 75 }}</p>
  </a>
  <p class="post-tags">
    {% for tag in post.tags %}
    <a href="/tags/{{ tag }}" title="{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </p>
  <div class="post-author">
    <div class="author-image" {% if post.image %}style="background-image:url({{ post.image }});"{% endif %}>
    </div>
    <p class="author-name">{{ post.author }}</p>
    <p class="post-date">{{ post.date | date: '%Y-%m-%d %H:%M' }}</p>
  </div>
</li>