<div id="navbar">
  <div class="info-wrap">
    <p class="user-name">Minhyeong Jang</p>
    <p class="nick-name">Doriri</p>
  </div>
  <div class="menu-wrap">
    <ul class="">
      <li class="{% if page.url == '/about' %} active {% endif %}">
        <a href="/">About</a>
      </li>
      <li>Javascript</li>
      <li>Styles</li>
    </ul>
  </div>

  <div class="contact">        
    <a href="//www.facebook.com/profile.php?id=100004096860602" target="_blank">
      <span class="icon icon-facebook2"></span>
    </a>
    <a href="//www.linkedin.com/in/minhyeong-jang-109b89116/" target="_blank">
      <span class="icon icon-linkedin"></span>
    </a>
    <a href="//github.com/minhyeong-jang" target="_blank">
      <span class="icon icon-github"></span>
    </a>
    <a href="{{ '/contact/' | prepend: site.baseurl}}">
      <span class="icon icon-mail3"></span>
    </a>
  </div>
</div>
