{% if page.layout == 'post' or page.layout == 'project' %}
<script>
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://minhyeong.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{% endif %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var ads = document.querySelectorAll('.adsbygoogle:not(.adsbygoogle-noablate)');
    for (var i = 0; i < ads.length; i++) {
      (adsbygoogle = window.adsbygoogle || []).push({});
    }
  });
</script>