<script>
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://minhyeong.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<!-- <script id="dsq-count-scr" src="//minhyeong.disqus.com/count.js" async></script> -->
<script async>
  var count = document.querySelectorAll('.adsbygoogle:not(.adsbygoogle-noablate)').length;
  for(var i=0; i<count; i++) {
    (adsbygoogle = window.adsbygoogle || []).push({});
  }
</script>