<div id="sidebar">
  <div class="logo">
    <a href="/">
      <img src="/assets/images/logo_small.png" alt="logo">
      <h3>Doriri</h3>
    </a>
  </div>

  <ul class="lnb">
    <li class="{% if page.title == 'About' %} active {% endif %}">
      <a title="About Minhyeong Jang - Front-end & Back-end Developer" href="{{ '/about/' }}">ABOUT</a>
    </li>
    <li class="{% if page.title == 'History' %} active {% endif %}">
      <a href="{{ '/history/' }}">HISTORY</a>
    </li>
    <li class="{% if page.title == 'Portfolio' %} active {% endif %}">
      <a title="Portfolio of Front-end & Back-end Development Project" href="{{ '/portfolio/' }}">PORTFOLIO</a>
    </li>
    <li class="{% if page.title == 'Contact' %} active {% endif %}">
      <a href="{{ '/contact/' }}">CONTACT</a>
    </li>
  </ul>

  <ul class="contact">        
    <li>
      <a href="//www.facebook.com/profile.php?id=100004096860602" target="_blank">
        <span class="icon icon-facebook2"></span>
      </a>
    </li>
    <li>
      <a href="//www.linkedin.com/in/minhyeong-jang-109b89116/" target="_blank">
        <span class="icon icon-linkedin"></span>
      </a>
    </li>
    <li>
      <a href="//github.com/minhyeong-jang" target="_blank">
        <span class="icon icon-github"></span>
      </a>
    </li>
    <li>
      <a href="{{ '/contact/' | prepend: site.baseurl}}">
        <span class="icon icon-mail4"></span>
      </a>
    </li>
  </ul>
</div>
