#cover {
  .text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    width: 100%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    padding: 40px 0px;

    h3 {
      font-size: 2.5rem;
    }

    h5 {
      font-size: 1.2143rem;
      margin-top: 35px;
    }

    &::before,
    &::after {
      position: absolute;
      width: 60%;
      height: 3px;
      background-color: #dddddd;
      content: "";
      animation: home-cover 3s alternate infinite; /* IE 10+, Fx 29+ */
    }

    &::before {
      top: -3px;
      left: 0%;
    }

    &::after {
      bottom: -3px;
      right: 0%;
    }

    @keyframes home-cover {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

.title {
  text-align: center;
  font-size: 2.1429rem;
  font-weight: bold;
  margin: 50px 0px;
}

.introduce-wrap {
  text-align: center;
  margin-bottom: 50px;

  h3 {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  h4 {
    display: block;
    font-size: 1.15rem;
    margin-bottom: 20px;
  }

  p {
    line-height: 1.5;
    word-break: keep-all;
  }
}

  .language {
    display: flex;
    border-radius: 20px;
    border: 2px solid #cccccc;
    width: 100%;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
    -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;

    & > li {
      display: inline-block;
      flex: 1;
      border-right: 2px solid #cccccc;
      vertical-align: top;
      text-align: center;
      padding: 60px 0px;

      &:last-child {
        border-right: none;
      }

      h3 {
        font-size: 1.25em;
        margin: 10px 0px 30px;
      }

      img {
        width: 70px;
        height: 70px;
      }

      p {
        margin: 8px 0px;
      }
    }
  }