@import "theme";

#cover {
  .text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    width: 100%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    padding: 40px 0px;

    h3 {
      font-size: 2.5rem;
    }

    h5 {
      font-size: 1.1rem;
      margin-top: 20px;
      letter-spacing: 0.02em;
    }

    &::before,
    &::after {
      position: absolute;
      width: 60%;
      height: 3px;
      background-color: #dddddd;
      content: "";
      animation: home-cover 3s alternate infinite;
    }

    &::before {
      top: -3px;
      left: 0%;
    }

    &::after {
      bottom: -3px;
      right: 0%;
    }

    @keyframes home-cover {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

.title {
  text-align: center;
  font-size: 2.1429rem;
  font-weight: bold;
  margin: 50px 0px;
}
