@import "theme";

/* media size */

/* color */

$color-gray: #ccc;
$border-color: rgb(209, 202, 216);

/* main */
body {
  color: #2f2936;
  background-color: rgb(251, 251, 252);
}

.body-wrap {
  display: flex;
  min-height: 100vh;
}

/**
 * Navigation
 */
#navbar {
  position: relative;
  flex: 0 0 200px;
  background: rgba(37, 37, 37, 1);

  .fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
  }

  .info-wrap {
    padding: 20px;

    .user-name {
      font-weight: bold;
      font-size: 17px;
      line-height: 21px;
      color: white;
    }

    .nick-name {
      font-size: 14px;
      color: #aaa;
      line-height: 19px;
      font-weight: 500;
    }
  }

  .menu-wrap {
    margin-top: 35px;
    padding: 0px 20px;

    & > li {
      margin-bottom: 6px;
    }

    li {
      a {
        display: block;
        color: rgb(166, 155, 178);
        font-size: 13px;
        font-weight: 500;
        padding: 10px 0px;
        transition: color 0.2s linear;
      }

      &.active {
        & > a {
          color: white !important;
          font-weight: bold !important;
        }
      }

      &:hover {
        & > a {
          color: rgb(220, 220, 220);
        }
      }
    }
  }

  .menu-sub {
    padding-left: 20px;
    transition: all 0.2s;
    overflow: hidden;

    li {
      position: relative;

      a {
        font-size: 13px;
      }
      &:first-child {
        margin-top: 6px;
      }
    }
  }

  .hits {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contact {
    position: absolute;
    bottom: 0px;
    color: white;
    display: flex;
    width: 100%;
    padding: 15px 10px;
    align-items: center;

    a {
      flex: 0 0 25%;
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#content-wrap {
  flex: 1 1 auto;
  padding: 16px;
  border-radius: $border-radius;
  border: 1px;
  overflow: hidden;

  .header {
    margin: 8px 0px 20px;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    color: rgb(74, 62, 86);
  }

  .summery {
    margin-bottom: 20px;
    font-size: 15px;
  }
}
@media (max-width: $break-tablet) {
  html,
  body {
    font-size: 13px !important;
  }
  #content-wrap {
    padding: 10px;
  }
}

#logo {
  position: absolute;
  left: 25px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
}

#menu {
  display: inline-block;

  li {
    display: inline-flex;
    font-weight: 400;

    a {
      padding: 0px 20px;
      font-size: 14px;
      line-height: 60px;
    }

    &.active,
    &:hover {
      font-weight: 600;
      border-bottom: 2px solid #1e1e1e;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

/**
 * Pagination Layout
 */
#pagination {
  text-align: center;

  li {
    padding: 5px;
    background: red;
  }
}
