@import "theme";

/**
 * Posts Layout
 */
 #post-list {
  display: flex;
  flex-flow: wrap;

  li {
    @include post-item;
    
    display: inline-block;
    position: relative;
    width: calc(25% - 20px);
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.1);

  }
}

/**
 * Post Link
 */
#post-links {
  @include post-item;
  
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  margin-top: 20px;

  .next {
  }
  .prev, .next {
    flex: 1 1 50%;
    margin: 0px 5px;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: $break-laptop) {
  #post-list {
    li {
      width: calc(33.33% - 20px) !important;
    }
  }
}
@media (max-width: $break-tablet) {
  #navbar {
    display: none;
  }
  #post-list {
    li {
      width: 100% !important;
    }
  }
}

@media (max-width: $break-mobile-l) {
  #post-list {
    li {
      width: 100% !important;
    }
  }
}