$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;
$break-tablet: 768px;
$break-laptop-s: 1200px;
$break-laptop-m: 1440px;
$break-laptop-l: 2560px;

$github-color: #252525;
$point-color: #5e22e8;
$link-color: #c84b3a;