$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;
$break-tablet: 768px;
$break-laptop: 1080px;

$github-color: #252525;

@mixin post-item {
  .post-image {
    width: 100%;
    height: 170px;
    background-position: 50% 50%;
    background-size: cover;
  }

  .post-info {
    padding: 25px 15px;

    .author-name {
      font-size: 13px;
      color: lightseagreen;
      font-weight: bold;
    }

    .post-title {
      margin-top: 10px;
      font-size: 20px;
    }

    .post-excerpt {
      border-top: 1px solid #dedede;
      display: -webkit-box;
      margin-top: 30px;
      padding-top: 25px;
      font-size: 16px;
      line-height: 1.7;
      color: #aaa;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }

    .post-date {
      font-size: 12px;
      margin-top: 10px;
      color: #666;
    }
  }
}
