---
---

/* media size */
$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;
$break-tablet: 768px;
$break-laptop: 1080px;

/* color */
$color-gray: #aaaaaa;

/* global */
*{font-family:'Nanum Square'}
ul,li{padding:0px; margin:0; list-style:none}
a,a:hover,a:visited{ outline:none; text-decoration:none; color:inherit}
h1,h2,h3,h4,h5,h6{margin:0px}
html,body{
  margin: 0px;
  // min-width:1080px;
  // @media screen and (max-width: $break-tablet){min-width:inherit}
}
label{margin:0px}

.pl-0{padding-left:0px !important}
.pl-5{padding-left:5px !important}
.pr-0{padding-right:0px !important}
.pr-5{padding-right:5px !important}

.mt-5{margin-top:5px !important}
.mt-10{margin-top:10px !important}
.ml-per-2{margin-left:2% !important}

.text-right{text-align:right}

.page-container {
  background-size: cover;
  background-position: 90% 50%;
}

.container, .harf-cotainer {
  margin: 0 auto;
}
.container {
  max-width: 1020px;
}
.harf-cotainer {
  max-width: 510px;
}