---
---

/* media size */
$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;
$break-tablet: 768px;
$break-laptop: 1080px;

$color-gray : #555555;

/* footer */
#footer {

    /* introduce */
    height: 300px;
  
    /* copyright */
    .copyright {
      height: 100px;
      line-height: 100px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      background: rgb(47, 49, 53);
    }
  
  }

#footer-abc {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #ffffff; // rgba(0,0,0,0.7);
    z-index: 10;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    
    .container {
        padding: 12px 15px;

        .logo {
            display: inline-block;
            min-width: 200px;
            img {
                max-height: 45px;
            }
        }

        ul {
            display: inline-table;
            float: right;
            li {
                display: inline-flex;
                margin-right: 12px;
                
                a {
                    padding: 15px;
                    font-size: 12px;
                }
                &.active {
                    color: #4285F4;
                }
            }
        }

        button {
            float: right;
            font-size: 32px;
            padding: 0px;
            line-height: 50px;
            margin: 25px 17px 0px 0px;
            height: 38px;
            color: $color-gray;

            &.collapsed {
                color: rgb(85, 124, 231);
            }
        }
    }

    @media screen and (max-width: $break-tablet) {
        position: relative;
        .logo {
        margin-left: 20px;
        }

        .navbar-collapse {
        float: left;
        width: 100%;
        padding: 0px;
        border: 0;
        }

        .nav-list {
        
        width: 100%;
        line-height: 50px;
        text-align: center;

        li {
            display: block;
            width: 100%;
            height: 50px !important;
            margin: 0px !important;
            font-weight: bold;
            background: #222222;
            border-bottom: 1px solid $color-gray !important;
            color: $color-gray !important;

            &.hover {
            background: -webkit-radial-gradient(353535, #191919);
            background: radial-gradient(353535, #191919);
            }
            &.active {
            color: #ffffff !important;
            }
        }
        }
    }

    @media screen and (max-width: $break-mobile-m) {
        height: 70px;
        line-height: 70px;

        .gnb {
        .logo {
            margin-left: 10px;

            .icon {
            font-size: 15px;
            border-width: 3px;
            padding: 4px 6px 4px 10px;
            margin: 0px 5px 0px 0px;
            }

            h5 {
            display: none;
            }
        }

        button {
            font-size: 27px;
            margin-top: 11px;
        }
        }
    }
    }