---
---

/* media size */

$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;
$break-tablet: 768px;
$break-laptop: 1080px;

/* color */

$color-gray: #ccc;
$hover-mint: #08fdd8;
// $hover-mint: #55fdc4;

/* header */

#header {
  width: 100%;
  background: #ffffff; // rgba(0,0,0,0.7);
  text-align: center;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
#logo {
  position: absolute;
  left: 25px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
}
#menu {
  display: inline-block;
  li {
    display: inline-flex;
    font-weight: 400;
    a {
      padding: 21px 20px;
      font-size: 15px;
    }
    &.active, &:hover {
      font-weight: 600;
      border-bottom: 2px solid #1e1e1e;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

/* content */

#wrapper {

}
#cover {

}
#cover {
  position: relative;
  background-size: cover;
  height: 400px;
  background-position: 50%;
  background-repeat: no-repeat;
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    width: 100%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 5;

    h3 {
      font-size: 36px;
    }
    h5 {
      font-size: 15px;
      margin-top: 40px;
    }
  }
  &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
  }
}

/* footer */

#footer {
  margin-top: 200px;
  border-top: 2px solid #dddddd;
  line-height: 30px;
  padding: 20px;
  font-size: 14px;
  background-color: white;
}
#link {
  float: right;
  a {
    margin-left: 10px;
    font-size: 20px;
  }
}
/*
  button {
    float: right;
    font-size: 32px;
    padding: 0px;
    line-height: 50px;
    margin: 25px 17px 0px 0px;
    height: 38px;
    color: $color-gray;
    &.collapsed {
      color: rgb(85, 124, 231);
    }
}
  @media screen and (max-width: $break-tablet) {
    .logo {
      margin-left: 20px;
    }
    .navbar-collapse {
      float: left;
      width: 100%;
      padding: 0px;
      border: 0;
    }
    .nav-list {
      width: 100%;
      line-height: 50px;
      text-align: center;
      li {
        display: block;
        width: 100%;
        height: 50px !important;
        margin: 0px !important;
        font-weight: bold;
        background: #222222;
        border-bottom: 1px solid $color-gray !important;
        color: $color-gray !important;
        &.hover {
          background: -webkit-radial-gradient(353535, #191919);
          background: radial-gradient(353535, #191919);
        }
        &.active {
          color: #ffffff !important;
        }
      }
    }
  }
  @media screen and (max-width: $break-mobile-m) {
    height: 70px;
    line-height: 70px;
    .gnb {
      .logo {
        margin-left: 10px;
        .icon {
          font-size: 15px;
          border-width: 3px;
          padding: 4px 6px 4px 10px;
          margin: 0px 5px 0px 0px;
        }
        h5 {
          display: none;
        }
      }
      button {
        font-size: 27px;
        margin-top: 11px;
      }
    }
  }
*/
/*
for large screen(>=720px):

+#header----------------------------------------+
|#logo              #menu                #search|
+-----------------------------------------------+
|                                               |
+#wrapper---------------------------------------+
|                                               |
|+#content-------------------------------------+|
||                                             ||
|+---------------------------------------------+|
|                                   #back-to-top|
+-----------------------------------------------+
|                                               |
+#footer----------------------------------------+
|#footer-menu                             #links|
|#copyright                                     |
+-----------------------------------------------+
|                                               |
+-----------------------------------------------+

*/