<!DOCTYPE html>
<html lang="kr">
<head>
  {% include head.html %}
</head>

<body>
  <div class="body-wrap">
    {% include navbar.html %}
    <div id="content-wrap">
      {{ content }}
    </div>
  </div>

<script type="text/javascript">
  // Calculate min height
  $(document).ready(function(){        
    containerHeight();
    $(window).on('resize', function () {
      setTimeout(function () {
        containerHeight();
      });
    });
  });
  function containerHeight() {
    var availableHeight = $(window).height() - $('.page-container').offset().top;
    $('.page-container').css('min-height', availableHeight + 'px');
  }

$(window).scroll(function () {
    var viewportTop = $(window).scrollTop();
    if (viewportTop) {
        var viewportBottom = viewportTop + $(window).height();
        var footerTop = $('#footer').offset().top;
        if ((footerTop <= viewportBottom) && (footerTop >= viewportTop)) {
            // footer is visible: static above footer
            $('#back-to-top').addClass('static').show();
        } else {
            // footer is invisible: fixed on bottom-right of viewport
            $('#back-to-top').removeClass('static').show();
        }
    } else {
        // already top: hide
        $('#back-to-top').hide();
    }
});
</script>
</body>
</html>
