---
layout: default
---
<div id="cover" {% if site.image %}style="background-image:url({{ site.image }});"{% endif %}>
  <div>
    <h3>{{ site.title }}</h3>
    <h5>{{ site.description | newline_to_br}}</h5>
  </div>
</div>
 {{ content }}
<div id="introduce">
  ~ 소개 ~
</div>
<div id="portfolio">
  ~ 포트폴리오 ~
</div>
<div id="project">
  ~ 프로젝트 ~
</div>
<div id="career">
  ~ 경력 ~
</div>
<div>
  <div>logo</div>
  <div>Minhyeong Jang</div>
  <div>Web Front-end & Back-end Developer</div>
  <div>Please let me know if you have any questions.</div>
</div>