---
layout: default
---

<div id="cover" class="home" style="background-image:url({{ /files/covers/home.jpg | prepend: site.asset_url }})">
  <div class="text-wrap">
    <h3>Front-end & Back-end Developer</h3>
    <h5>고객의 관점으로 개발을 진행합니다.</h5>
  </div>
  <!-- <div class="mouse-scroll">
    <img src="/files/design/icon-mouse-scroll.png" alt="mouse-scroll">
  </div> -->
</div>
<div id="introduce">
  <div class="container">
    <div class="text-wrap">
      <h4>안녕하세요, 웹 개발자 장민형입니다 :)</h4>
      <p>
        어제보다 발전한 모습으로 사용자 경험(UX)을 가장 중요하게 생각합니다.<br />
        퍼블리싱부터 프론트, 백엔드 그리고 유지보수까지 책임지고 진행하겠습니다.
      </p>
    </div>
    <ul class="language">
      <li>
        <img src="{{ /files/design/icon-frontend.png | prepend: site.asset_url }}" />
        <h3>Front-end</h3>
        <p>HTML</p>
        <p>CSS, SCSS, <span class="red">Styled Components</span></p>
        <p>Js, Jquery</p>
        <p>Bootstrap</p>
        <p>AngularJs</p>
        <p><span class="red">React</span>, Redux, <span class="red">Nextjs</span></p>
      </li>
      <li>
        <img src="{{ /files/design/icon-backend.png | prepend: site.asset_url }}" />
        <h3>Back-end</h3>
        <p class="red">NodeJs</p>
        <p>PHP</p>
        <p>Laravel</p>
        <p>Ruby</p>
      </li>
      <li>
        <img src="{{ /files/design/icon-server.png | prepend: site.asset_url }}" />
        <h3>Server & Etc</h3>
        <p class="red">Typescript</p>
        <p>Linux, Nginx</p>
        <p>AWS EC2, S3, CF</p>
        <p>Mysql</p>
      </li>
    </ul>
  </div>
</div>
