---
layout: master
---
<div class="banner-wrap {{page.title}}">
    <div class="banner-title">{{page.title}}</div>
</div>
<div class="content-wrap">
    <div class="container panel">
        <div class="col-md-10 col-md-offset-1">
            <ul class="contect-bar">
                <li class="contect-facebook">
                    <a href="//www.facebook.com/sharer.php?u=http%3A%2F%2Fdoriri.com%2Fhistory%2F" target="_blank" rel="nofollow">
                        <span class="icon icon-facebook"></span>
                    </a>
                </li>
                <li class="contect-linkedin">
                    <a href="//www.linkedin.com/in/minhyeong-jang-109b89116/" target="_blank" rel="nofollow">
                        <span class="icon icon-linkedin2"></span>
                    </a>
                </li>
                <li class="contect-google">
                    <a href="//plus.google.com/share?url=http%3A%2F%2Fdoriri.com%2Fhistory%2F" target="_blank" rel="nofollow">
                        <span class="icon icon-google-plus"></span>
                    </a>
                </li>
                <li class="contect-github">
                    <a href="//www.facebook.com/sharer.php?u=http%3A%2F%2Fdoriri.com%2Fhistory%2F" target="_blank" rel="nofollow">
                        <span class="icon icon-github"></span>
                    </a>
                </li>
            </ul>
            {{ page.content }}
        </div>
    </div>
    
</div>