---
layout: default
---
<div id="cover"
  {% if page.image %}
    style="background-image: url({{ site.baseurl }}{{ site.image_url }}{{ page.image }})"
  {% endif %}>
  <div class="mouse-scroll">
    <img src="{{ site.baseurl }}{{ site.image_url }}/design/icon-mouse-scroll.png" alt="mouse-scroll">
  </div>
</div>

<div id="post-content">
  <div class="reponsive-content">
    <div class="post-info">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-date red">{{ page.date | date: '%Y년 %m월 %d일' }}</p>
    </div>
    <div>{{ content }}</div>
  </div>

  <!-- {% include share.html %} -->

  <div id="post-links">
    <div class="subject">이런 글은 어떠신가요?</div>
    <ul>
      {% assign post = page.previous %}
      {% if post.title == null %}
        {% assign post = page.next.next %}
      {% endif %}
      {% include item.html %}
      {% assign post = page.next %}
      {% if post.title == null %}
        {% assign post = page.previous.previous %}
      {% endif %}
      {% include item.html %}
    </ul>
  </div>
</div>

<div id="disqus_thread"></div>